<h2>{{title}}</h2>
{{#each data}}
    <div class="card border-primary">
        <div class="card-block">
            <div class="card-header">
                <h4><a href="https://www.leg.state.nv.us{{this.url}}">{{this.bill}}</a> - {{this.summary}}</h4>
            </div>
            <div class="card-body text-dark">
                <table class="table table-striped table-bordered display responsive">
                    <tr>
                        <td><b>Title:</b></td>
                        <td>{{this.title}}</td>
                    </tr>
                    <tr>
                        <td><b>Digest:</b></td>
                        <td>{{this.digest}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <p><b>Sponsor: </b>{{this.primary_sponsor}} -
                    {{#if this.tracked}}
                        <td><input type="button" id="btn_{{this.bill}}" class="btn btn-outline-danger btn-sm" type="button" onclick="toggle_tracking('{{this.bill}}')" value="Untrack"></td>
                    {{else}}
                        <td><input type="button" id="btn_{{this.bill}}" class="btn btn-outline-primary btn-sm" type="button" onclick="toggle_tracking('{{this.bill}}')" value="Track"></td>
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
    <br/>
{{/each}}
<script>
    function toggle_tracking(bill){
        let btn = $('#btn_' + bill);
        console.log(btn.val());
        if (btn.val()==='Track'){
            document.cookie=bill+"=true;expires=1 Jul 2021 12:00:00 GMT;";
            btn.val("Untrack");
            btn.removeClass("btn-outline-primary");
            btn.addClass("btn-outline-danger");
        } else {
            document.cookie=bill+"=true;Max-Age=-99999999;";
            btn.val("Track");
            btn.removeClass("btn-outline-danger");
            btn.addClass("btn-outline-primary");
        }
    }
</script>